body {
    margin: 0;
    padding: 0;
}

#banner{
	height: 150px;
	width: 100%;
	background-image: url(https://cdn.playbuzz.com/cdn/e772c91d-40fd-4c02-883f-7cf6f8c4d367/763c52ab-d5e7-46d7-8c1d-4ec45d2571e8.gif);
	background-size: 100%;
    background-position: 0 50%;
    background-repeat: no-repeat;
}

/* Paleta de colores */
.purple {background-color: #852c85; }
.light-purple { background-color: #F086EE }
.dark-purple {color: #260C27; }
.black {background-color: black; }
.gray { background-color: #4D4D4D}
.ligth-gray {background-color: #666666; }

/* Splash */
#splash {
    min-height: 100%;
    z-index: 100;
}

.hide-start {
    display: none;
}

/* Navbar */
nav.navbar, .card-footer {
    border: 1px solid #852c85;
    color: #852c85;
    font-size: 20px;
}

nav.navbar a.navbar-brand > img {
    width: 50px;
}

i.far, i.fas, #user-name  {
    color: #852c85;
}

.photo-login > img {
    border-radius: 50%;
    width: 2em;
}

#user-name {
    font-size: 30px;
    position: relative;
    left: .4em;
}

/* Main */
main div.row {
    margin: 1.5em 0 0 0;
}

#profile-user, #news-gral-users {
    content: "";
    min-height: 30.5em;
    padding: 0;
}

#news-users, #gral-info {
    min-height: 10em;
    margin: 0;
    padding: 2em auto;
}

#news-users {
    border: 1px dotted violet;
    margin-bottom: 1.2em;
}

#gral-info {
    margin-bottom: 45px;
}

#profile-user {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
    padding: 0 15px;
}

section#profile-user div.input-group.mb-3:first-child {
    padding-bottom: 25px;
    border-bottom: 1px dotted violet;
    margin-bottom: 15px;
}

main div.row section#profile-user div.card-body div.photo-login > img {
    width: 6em;
    margin-left: 18%; 
}

#news-gral-users div.row section#gral-info iframe {
    width: 90%;
    padding-left: 8.99%;
    margin-bottom: 1.2em;
}

#news-gral-users div.row section#gral-info div#carouselExampleControls {
    margin-bottom: 10px;
}

.carousel-item{
    height: 243px;
}

/* Subir fotos */
.input-group.mb-3 {
    display: inline-flex;
}

div #profile-user div.input-group div.custom-file label.custom-file-label {
    content: none;
}

div #profile-user div.input-group div.custom-file progress#uploader {
    position: relative;
    top: 30px;
    color: white;
}

/* Carrusel */
.card{
    height: 10em;
}

/* Footer */
footer div.card-footer {
    height: auto;
}

footer div div.card-footer a.navbar-brand > img {
    width: 40px;
}

.card-footer {
    position: fixed;
    bottom: 0;
    padding: 6px 12px;
    width: 99.8%;
}
/* Comentarios */
#profile-user section.texto div.card-body > textarea {
    width: 100%;
}

#textArea {
    width: 100%;
}

#news-area div#goals {
    padding:0;
}

div#goals {
    padding: 0;
}

/* Comentarios al blog */
#goals > section {
    position: relative;
    margin-top: .5em;
}

#goals {
    margin: 0 auto;
}

#news-gral-users div #news-users #goals section div div div#comment-user {
    display: inline-flex;
    width: 100%;
}

#news-gral-users div #news-users #goals section div div > img {
    height: 3em;
    border-radius: 40%;
}

/* Ranking */
#ranking-container > h5 {
    margin-bottom: 18px;
}

#ranking-container div.row-bms > ul {
    display: inline-flex;
    list-style: none;
    padding-left: 0;
}

#ranking-container div.row-bms ul > button {
    margin-right: 15px;
}

#ranking-container div.row-bms ul li > i {
    margin-right: 5px;
}