body {
    margin: 0;
    padding: 0;
    background-image: url(https://cdn.playbuzz.com/cdn/e772c91d-40fd-4c02-883f-7cf6f8c4d367/763c52ab-d5e7-46d7-8c1d-4ec45d2571e8.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Paleta de colores */
.purple {background-color: #852c85; }
.light-purple { background-color: #F086EE }
.dark-purple {background-color: #260C27; }
.black {background-color: black; }
.gray { background-color: #4D4D4D}
.ligth-gray {background-color: #666666; }

/* Navbar */
nav.navbar, .card-footer {
    border: 1px solid #852c85;
    color: #852c85;
    font-size: 20px;
}

nav.navbar a.navbar-brand > img {
    width: 50px;
}

i.far, i.fas, #user-name  {
    color: #852c85;
}

.photo-login > img {
    border-radius: 50%;
    width: 2em;
}

#user-name {
    font-size: 20px;
    position: relative;
    left: .4em;
}

/* Main */
main div.row {
    margin: 0;
}

#profile-user, #news-gral-users {
    border: 1px solid blue;
    content: "";
    height: 30.5em;
    padding: 0;
}

#news-users, #gral-info {
    border: 1px solid red;
    height: 30em;
    margin: 0;
    padding: 0 10px;
}

/* Footer */
footer div.card div.card-footer a.navbar-brand > img {
    width: 40px;
}

.card-footer {
    position: fixed;
    bottom: 0;
    padding: 6px 12px;
    width: 100%;
}