body {
    background: pink;
    color: black;
}

.star-rating {
    height: 20vh;
    line-height:32px;
    font-size:1.25em;
}
  
  .star-rating .fa-star{
    color: yellow;
  }
.star-rating .fa-star{
    color: yellow;
}

.container-fluid {
    border: 1px solid black;
}

.container-fluid div.row div.col-lg-12 div.star-rating {
    border: 1px solid green;
}

.container-fluid div.row div.col-lg-12 div.star-rating  > span {
    border: 1px solid red;
}